* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    max-width: 100vw;
    font-family: var(--accent-font);

}

:root {
    --primary-font-color: #333;
    --primary-font: 'Oswald', sans-serif;
    --accent-font: 'EB Garamond', serif;
    font-size: 16px;
}

li {
    list-style: none;
    display: inline-flex;
}

h4 {
    font-family: var(--primary-font);
}

a {
    color: var(--primary-font-color);
    text-decoration: none;
}

a:hover {
    text-decoration: overline;
}

.grid-container {
  max-width: 100vw;
  /* max-height: 400vh; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "navigation navigation navigation" "header header header" "intro intro intro" "blog recipes contact" "footer footer footer";
  color: var(--primary-font-color);
}

.navigation {
  display: grid;
  grid-area: navigation;
  align-items: center;
  font-family: var(--primary-font);
  grid-gap: unset;
  height: 8vh;
}

.navigation h1 {
    text-transform: uppercase;
    font-size: 1.2em;
    margin-left: 20px;
}

.navigation .menu {
    display: inline-flex;
    justify-self: end;
    grid-column: 3;
    margin-right: 50px;
}

.menu a {
    padding: 0px 0px 0px 20px;
    font-weight: 300;
    font-size: 1.2rem;
}


.footer {
  grid-area: footer;
}

.header {
  display: grid;
  display: -ms-grid;
  grid-template-rows: 1fr 1fr 1fr; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-area: header;
  height: 75vh;
  background: red;
  background-image: url('../images/spices.jpg');
  background-size: cover;
  background-position: center;
}

.header .subheader-box {
    padding: 30px;
    font-family: var(--accent-font);
    font-weight: 200;
    font-style: italic;
    font-size: 2rem;
    background: white;
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    align-self: center;
}

.subheader-box {
    -webkit-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.5);
    box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.5);
}

.intro {
    display: grid;
    grid-template-rows: 1fr; 
    grid-template-columns: 1fr 3fr 1fr; 
    grid-area: intro;
    margin: 64px 0px;
}

.intro p {
    grid-column: 2;
    grid-auto-flow: column;
    align-self: center;
    justify-self: center;
    text-align: center;
    font-family: var(--accent-font);
    letter-spacing: 2;
    font-weight: 100;
    font-size: 1.2em;
    margin-bottom: 32px;
}

.intro p span {
    font-weight: bold;
}

.card {
    display: grid; 
    grid-template-rows: repeat(5, 1fr); 
    grid-template-columns: 1fr 3fr 1fr; 
    height: 60vh;
}

.blog,
.recipes,
.contact {
    background-size: cover;
    background-position: center;
}

.blog {
    grid-area: blog;
    background-image: url('../images/tomatoes.jpg');
    margin-left:1.5em;
}


.recipes {
  grid-area: recipes;
  background-image: url('../images/cabbage.jpg');
  margin: 0px 1.5rem;
}

.contact {
    grid-area: contact;
    margin-right: 1.5em;
    background-image: url('../images/pineapple.jpg');
    background-position: right;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    grid-row: 2 /span 3;
    grid-column: 2;
}

.card-content h2 {
    font-family: var(--primary-font);
    margin-bottom: 0.5em;
    font-weight: 200;
    font-size: 2rem;
}

.card-content p {
    font-family: var(--accent-font);
    font-style: italic;
    margin-bottom: 1.5rem;
}

.card-content button {
    background: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 0.8em;
}
.card-content:hover {
    transform: scale(1.1);
    transition: ease;
    transition-duration: 0.4s;
}

#recipe-card-content {
    background-color: #d77a60;
}

#blog-card-content {
    background-color: #B19483;
}

#contact-card-content {
    background-color: #223843;
}

.footer {
    height: 30vh;
    align-items: center;
    display: grid;
    display: -ms-grid;
    grid-template-rows: 1fr; 
    grid-template-columns: 1fr 1fr; 
}

.footer h4 {
    margin-top: 1.5em;
    font-size: 1.2em;
    text-transform: uppercase;
}

.footer ul {
    margin-top: 1em;
}

.footer-navigation {
    margin-left: 1.5em;
}

.footer-navigation li {
    font-family: var(--primary-font);
    font-weight: 200;
    padding-right: 10px;
}

.social {
    justify-self: end;
    text-align: right;
    margin-right: 1.5em;
}

.social-icon-list-item img {
    height: 30px;
    margin-left: 10px;
}